@import "../../scss/abstracts/variables";

.left-sidebar {
  background-color: $main_background;
  color: $main_font_color;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 140px;
  flex: 0.2;

  &__title {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 5px 25px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .left-sidebar {
    display: none;
  }
}
