.library {
  a {
    text-decoration: none;
    color: #fff;

    font-size: 13px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:visited,
    &:active {
      color: #fff;
    }
    &:hover {
      color: #aaa;
    }
  }
}
